<a href="#" 
class="list-group-item clearfix"
(click)="onSelected()">

    <div class="card mb-3" style="max-width: unset;">
            <div class="row g-0">
            <div class="col-md-4">
                <img 
                    [src]="recipe.imagePath"
                    alt="{{ recipe.name }}" 
                    class="img-fluid rounded-start">
            </div>
            <div class="col-md-8">
                <div class="card-body" 
                    style="text-align: left">
                <h5 class="card-title">{{ recipe.name }}</h5>
                <p class="card-text">{{ recipe.description }}</p>
                </div>
            </div>
            </div>
        </div>
</a> 